html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: "Amatic SC", cursive;
  text-shadow: 0 0 4px rgb(0 0 0 / 72%), 0 0 14px rgb(0 0 0 / 45%);
}
body {
  display: flex;
}
.App {
  height: 100%;
}
.app-wrapper {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100vw;
  overflow: hidden;
}
